html {
    font-family: 'Merriweather', Arial, sans-serif;
}

body {
    max-width: 400px;
    width: auto;
}

.header-container {
    background: linear-gradient(to bottom,#b2def5 0,#69add3 4%,#4d88a8 100%);
    box-shadow: 3px 3px #193051;
    height: auto;
    width: auto;
    position: relative;
}

#satop-services {
    float: right;
    color: rgb(38, 89, 142);
    font-size: 20px;
}

#nameContainer {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}

.name {
    color: rgb(38, 89, 142);
    font-size: 13px;
    clear: right;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.m-index-page {
    width: 100%;
    height: 100%;
    background-color: #3a5170;
}

.button-container {
    align-self: center;
    width: auto;
    height: auto;
    background-color: #3a5170;
    margin: 0 auto;
    text-align: center;
    box-shadow: 3px 3px #193051;
}

.btn.btn-primary {
    width: 200px;
    height: 70px;
    opacity: 0.95;
    box-shadow: 1px 1px 2px 2px #3a5170;
    background: linear-gradient(to bottom, #F8F8F8 50%, #F0F0F0 40%);
    margin: 6px 0px 6px 0px;
}

.btn.btn-primary a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn.btn-primary:active {
    background-color: darkgray;
    box-shadow: none;
    transform: translateY(2px);
}

#back {
    width: auto;
    height: auto;
    font-size: 12px;
    float: left;
    margin: 4px 4px 4px 4px;
}

.m-contact-us-info {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: auto;
}

#m-contact-us-p {
    margin: 0 auto;
    text-align: left;
}

#m-map {
    height: auto;
    width: auto;

}
