html{
    font-family: 'Merriweather', Arial, sans-serif;
}
body {
    height: 2000px;
    width: auto;
}
.mainBody {
    display: -webkit-flex;
    display : flex;
    direction: ltr;
    height: 100%;
    background-color: lightgray;
    flex: auto;
    width: auto;
    margin: auto;
    align-content: center;
    border: 2px solid #193051;
}

#mainHeader {
    position: center;
    text-align: center;
    font-size: 36px;
    width: 100%;
    height: 32px;
    background-color: #EFEFEF;
    text-decoration: underline;
}

.bodyHeader {
    position: relative;
    top: 22px;
    text-align: center;
}

#scheduleHeader {
    position: relative;
    left: 632px;
}

#servicesHeader {
    font-size: 36px;
}

.introParagraph {
    font-size: 18px;
    width: 80%;
    height: 150px;
    text-align: left;
    position: relative;
    left: 143.705px;
}

#firstHeader {
    position: relative;
    top: 22px;
}

#firstParagraph {
    position: relative;
    left: 143.705px;
    top: 40px;
    font-size: 18px;
}

.secondHeader{
    position: relative;
    left: 44px;
}

.secondParagraph {
    position: relative;
    left: 143.705px;
}

#clickHere {
    position: relative;
    left: 554px;
    font-size: 26px;
    width: 288px;
    height: 54px;
}

.introDiv {
    height: 200px;
    width: 100%;
    text-align: left;
    align-content: center;
    line-height: 200%;
}

#introList {
    font-size: 18px;
    width: 80%;
    position: relative;
    left: 122px;
}

.topContainer {
    float: left;
    background: linear-gradient(to bottom,#b2def5 0,#69add3 4%,#4d88a8 100%);
    position: static;
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

#logo {
    float: left;
}

#nameContainer {
    text-align: left;
    position: relative;
    top: 20px;
}

.name {
    color: rgb(38, 89, 142);
    font-size: 14px;
    text-shadow: 1px 1px 0px #3a5170;
    top: 98px;
    right: 172px;
    position: relative;
}
#townName {
    float: right;
    position: relative;
    left: 170px;
}

#townName:hover {
    text-decoration: underline;
    color: yellow;
}

#mosatop {
    float: right;
    position: relative;

}

#missouri {
    height: 112.5px;
    width: 50%;
    position: relative;
    bottom: 14px;
    left: 50px;
}

#satopHeaderContainer {
    text-align: center;
    position: relative;
    left: 220px;
    bottom: 120px;
}

#satopHeader {
    text-align: center;
    font-size: 42px;
}
.bannerContainer {
    text-align: center;
    background-color: lightgray;
    position: relative;
    left: 434px;
    width: 1020px;
    height: 96px;
}

.navbar {
    height: 466px;
    width: 175px;
    text-align: center;
    background: linear-gradient(to bottom,#b2def5 0,#69add3 4%,#4d88a8 100%);
    position: relative;
    left: 22px;
    box-shadow: 3px 3px #193051;
    top: 40px;
}

.navbar a {
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.navbar a:visited {
    text-decoration: none;
    color: black;
}

.btn.btn-primary {
    position: relative;
    top: 24px;
    width: 96px;
    height: 36px;
    font-size: 14px;
    opacity: 0.95;
    margin: 12px 0px 12px 0px;
    box-shadow: 2px 2px #193051;
    background: linear-gradient(to bottom, #F8F8F8 50%, #F0F0F0 40%);
}

.btn.btn-primary:hover {
    background: #C8C8C8;
    border: 2px solid #3a5170 ;
}

.btn.btn-primary:active {
    background-color: darkgray;
    box-shadow: none;
    transform: translateY(2px);
}

.topWrapper {
    height: 158px;
    width: 100%;
    position: static;
    background-color: #3a5170;
    padding-top: 4px;
}

.leftWrapper {
    background-color: #3a5170;
    height: 100%;
    width: 225px;
    position: static;
    display: block;
    float: left;
    padding-bottom: 4px;
}

.rightWrapper {
    background-color: #3a5170;
    height: 100%;
    width: 225px;
    position: static;
    display: block;
    float: right;
    padding-bottom: 4px;
}

#dmhContainer {
    height: 46px;
    width: 225px;
}

#dmhContainer:hover {
    background: yellow;
    border: 3px solid #3a5170;
}

#dmhLogo {
    height: 100%;
    width: 100%;
}

.bottomWrapper {
    height: 136px;
    width: 100%;
    position: relative;
    background-color: #3a5170;
    display: inline-block;
    padding-bottom: 12px;
    margin-bottom: 4px;
}
.mainForm {
    text-align: center;
    position: relative;
    left: 388px;
    top: 30px;
}

#sched {
    word-wrap: break-word;
}

#info {
    word-wrap: break-word;
}

.serviceHeader {
    position: relative;
    left: 88px;
    text-decoration: underline;
}

.serviceDescriptionHeader {
    position: relative;
    left: 96px;
}

.serviceDescription {
    position: relative;
    left: 112px;
}

#assessmentCost {
    width: 80%;
}

body div table tr td {
    border: 1px solid black;
    height: 88px;
}

body div table {
    position: relative;
    top: 188px;
    left: 188px;
    border: 2px solid black;
    height: 288px;
}

.quickLinks {
    color: white;
    position: relative;
    left: 72px;
    top: 2px;
    font-size: 12px;
}

#contactUsInfo {
    position: relative;
    left: 100px;
    top: 88px;
    width: 380px;
}

#contactUsInfoParagraph {
    width: 380px;
}

#contactUsMap {
    position: relative;
    left: 300px;
    top: 44px;
}

#buildingDescription {
    position: relative;
    top: 512px;
    right: 298px;
}

#buildingDescriptionParagraph {
    width: 612px;
}

.cost-p {
    line-height: 200%;
    width: 90%;
    margin: 0 auto;
}

#visit-dmh {
    text-align: center;
}

#btn-visit-dmh {
    width: 300px;
    height: 100px;
}