body {
    background-color: black;
    color: white;
}

#linklist:link {
    color: red;
}

li a:hover {
    color: yellow;
    background-color: red;
    text-decoration: none;
    text-decoration-style: none;
}

